<div class="jumbotron text-center">
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where entrepreneurs can meet developers</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class = "well">
            <h2 class="text-center">Basic membership </h2>
            <h4> Sign up for free and get access to the Community</h4>
            <%= link_to "Sign up FREE", new_user_registration_path(plan: @basic_plan.id), class: "btn btn-primary btn-long btn-block" %>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class = "well">
            <h2 class="text-center">Pro membership </h2>
            <h4> Sign up for Pro account at $10/month to contact other members</h4>
            <%= link_to "Sign up $10/month", new_user_registration_path(plan: @pro_plan.id), class: "btn btn-success btn-long btn-block" %>
        </div>
    </div>
    
</div>